<!--The content below is only a placeholder and can be replaced.-->

<header>
  Enterprise conversor
</header>

<body>
  <div class="main">
    <div class="first">
      <select>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="JPY">JPY</option>
      </select>
      <input type="number">
    </div>
    <div class="equal">
      <img src="" alt="igual">
    </div>
    <div class="second">
      <select>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="JPY">JPY</option>
      </select>
      <input type="number">
    </div>
  </div>
  <div class="chart">
    
    <select>
      <option value="1">1 Semana</option>
      <option value="4">1 Mes</option>
      <option value="12">3 Meses</option>
    </select>
  </div>
</body>

<router-outlet></router-outlet>
